# product_master ignore
crawling/amazon_crawler/.scrapy/
crawling/amazon_crawler/data/
crawling/amazon_crawler/logs/

# API server ingore
crawling/API_Amazon/.env

###
crawling/selenium/

# 아마존 리뷰 크롤러 프로젝트
review/amazon_crawl/amazon_reviews/**/data/results/
review/amazon_crawl/amazon_reviews/**/data/failed/
review/amazon_crawl/amazon_reviews/**/logs/
review/amazon_crawl/amazon_reviews/**/__pycache__/
review/amazon_crawl/amazon_reviews/mongo_data